/* @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); */

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  font-family: "notosanstc", "Noto Sans TC", "微軟正黑體", arial, sans-serif;
}

input:focus,
button:focus,
select:focus {
  outline:none
}

button:hover {
  cursor: pointer;
}

/*--------------------Nav--------------------*/

.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background-color: #FFFFFF;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.1))
}

.title>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.title>a>img {
  width: 50px;
  height: 50px;
}

.title>a>h2 {
  color: #fca81e;
  font-size: 36px;
}

.titleList {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  max-width: 300px;
  text-align: center;
  align-items: center;
  padding: 0;
  margin-right: 20px;
}

.titleList>a {
  width: 120px;
  margin: 0 5px;
}

.navLoginCondition {
  display: flex;
  width: 100%;
  text-align: center;
  background-color: #fca81e;
  border-radius: 15px;
  height: 30px;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.navLoginCondition:hover {
  background-color: #FFFFFF;
  border: 1px solid #fca81e;
  color: #133E4D;
}

.navLogedin {
  background-color: #FFFFFF;
  color: #133E4D;
}

@media all and (max-width: 500px) {
  .title {
    height: 70px;
  }

  .title>a>h2 {
    font-size: 20px;
  }

  .titleList {
    max-width: 150px;
    margin-right: 20px;
  }

  .title>a {
    margin-left: 10px;
    width: 75px;
  }

  .navLoginCondition {
    font-size: 14px;
  }

  .titleList {
    margin-right: 10px;
  }
}

.main {
  margin: 0px 10px 20px 10px;
  padding-top: 120px;
}

@media all and (max-width: 850px) {
  .main {
    margin: 0px 10px 20px 10px;
    padding-top: 100px;
  }
}

.login,
.listIcon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

/*--------------------HomePage--------------------*/
.main>.homePage>section {
  height: 850px;
  padding-top: 70px;
}

@media all and (max-width: 850px) {
  .main>.homePage>section {
    padding-top: 150px;
  }
}

@media all and (max-width: 500px) {
  .main>.homePage>section {
    /* max-height: 700px; */
    padding-top: 50px;
  }
}

@media all and (min-width: 0px) {
  .main>.homePage>section:first-child {
    padding-top: 0px;
  }
}

.main>.homePage>section>.homePageIntro {
  max-width: 1500px;
  min-height: 600px;
  margin: 0 auto 50px auto;
  display: grid;
  grid-template-columns: 20% 20% 15% 15% 30%;
  grid-template-rows: 20% 30% 30% 20%;
}

.main>.homePage>section>.homePageIntro>.words {
  grid-area: 2 / 1 / 3 / 4;
  margin-left: 90px;
  z-index: 2;
}

.main>.homePage>section>.homePageIntro>.words>h1 {
  color: #133E4D;
  animation-duration:3s;
}

.main>.homePage>section>.homePageIntro>.words>p {
  font-size: 16px;
  color: #2a7f9d;
  line-height: 30px;
  animation-duration:3s;
}

.main>.homePage>section>.homePageIntro>.buttons {
  grid-area: 3 / 1 / 4 / 4;
  margin-top: 20px;
  margin-left: 85px;
  z-index: 2;
  animation-duration:3s;
}

.main>.homePage>section>.homePageIntro>.buttons>a>button {
  height: 40px;
  border-radius: 15px;
  background-color: #fca81e;
  width: 150px;
}

.main>.homePage>section>.homePageIntro>.buttons>button {
  height: 40px;
  border-radius: 15px;
  background-color: #fca81e;
  width: 150px;
}

.main>.homePage>section>.homePageIntro>.buttons>a>.toList {
  background-color: #FFFFFF;
  border: 1px solid #fca81e;
  color: #133E4D;
  cursor: pointer;
}

.main>.homePage>section>.homePageIntro>.buttons>.toSignin {
  background-color: #fca81e;
  color: #FFFFFF;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.main>.homePage>section>.homePageIntro>.buttons>.toSignin:hover {
  background-color: #FFFFFF;
  border: 1px solid #fca81e;
  color: #133E4D;
}

.main>.homePage>section>.homePageIntro>img {
  max-width: 100%;
  grid-area: 1 / 3 / 6 / 6;
  animation-duration:3s;
}

@media all and (min-width: 1200px) {
  .main>.homePage>section>.homePageIntro>.words>h1 {
    font-size: 32px;
  }

  .main>.homePage>.homePageIntro>.words>p {
    font-size: 20px;
  }
}

@media all and (max-width: 1200px) {
  .main>.homePage>section>.homePageIntro>.words {
    margin-top: 0px;
  }

  .main>.homePage>section>.homePageIntro>.words>p {
    line-height: 25px;
  }

  .main>.homePage>section>.homePageIntro>.buttons {
    margin-top: 0px;
  }
}

@media all and (max-width: 1000px) {
  .main>.homePage>section>.homePageIntro>.words {
    margin-top: 60px;
    margin-left: 60px;
    grid-area: 1 / 1 / 3 / 4;
    z-index: 2;
  }

  .main>.homePage>section>.homePageIntro>.buttons {
    grid-area: 3 / 1 / 4 / 4;
    margin-top: -60px;
    margin-left: 60px;
  }
}

@media all and (max-width: 1100px) {
  .main>.homePage>section>.homePageIntro>.words {
    margin-top: -20px;
    margin-left: 60px;
  }

  .main>.homePage>section>.homePageIntro>.buttons {
    margin-top: -30px;
    margin-left: 60px;
  }
}

@media all and (max-width: 1000px) {
  .main>.homePage>section>.homePageIntro {
    height: 500px;
  }

  .main>.homePage>section>.homePageIntro>.words {
    margin-top: 40px;
    margin-left: 60px;
  }

  .main>.homePage>section>.homePageIntro>.buttons {
    margin-top: -50px;
    margin-left: 60px;
  }
}

@media all and (max-width: 850px) {
  .main>.homePage>section>.homePageIntro {
    height: 700px;
    margin: 0 auto 100px auto;
    grid-template-columns: 20% 20% 15% 15% 30%;
    grid-template-rows: 20% auto 50px;
  }

  .main>.homePage>section>.homePageIntro>.words {
    grid-area: 1 / 1 / 2 / 6;
    margin: 0;
    text-align: center;
  }

  .main>.homePage>section>.homePageIntro>img {
    grid-area: 2 / 1 / 3 / 6;
    margin: auto;
  }

  .main>.homePage>section>.homePageIntro>.buttons {
    grid-area: 3 / 1 / 4 / 6;
    margin: auto;
  }
}

@media all and (max-width: 700px) {
  .main>.homePage>section>.homePageIntro {
    height: 600px;
  }
}

@media all and (max-width: 500px) {
  .main>.homePage>section>.homePageIntro {
    height: 500px;
    grid-template-rows: 20% 70% 10%;
  }

  .main>.homePage>section>.homePageIntro>.words>h1 {
    font-size: 25px;
  }

  .main>.homePage>section>.homePageIntro>.buttons {
    margin-top: 0px;
  }
}

@media all and (max-width: 440px) {
  .main>.homePage>section>.homePageIntro>.buttons {
    margin-top: -90px;
  }
}

@media all and (max-width: 400px) {
  .main>.homePage>section>.homePageIntro>.buttons {
    margin-top: -100px;
  }

  .main>.homePage>section>.homePageIntro>.buttons>a>button {
    height: 30px;
    border-radius: 10px;
    width: 120px;
  }

  .main>.homePage>section>.homePageIntro>.buttons>button {
    height: 30px;
    border-radius: 10px;
    width: 120px;
  }
}

.scroll {
  grid-area: 4 / 1 / 5 / 6;
  margin: auto;
  -webkit-animation: scrolling 3s ease infinite;
     -moz-animation: scrolling 3s ease infinite;
     -o-animation: scrolling 3s  ease infinite;
     animation: scrolling 3s ease infinite;
}

.scroll>a>img{
  width: 50px;
  height: 50px;
  animation-duration: 5s;
}

@keyframes scrolling {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(0,40px);
}


  100% {
     transform: translate(0);
  }
}

@media all and (min-width: 1300px) {
  .scroll {
    margin: 60px auto 0 auto;
  }
}

@media all and (max-width: 1300px) {
  .scroll {
    margin: -40px auto 0 auto;
  }
}

@media all and (max-width: 1000px) {
  .scroll {
    margin: -100px auto 0 auto;
  }
}

@media all and (max-width: 850px) {
  .scroll {
    grid-area: 3 / 1 / 4 / 6;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }
}

@media all and (max-width: 500px) {
  .scroll {
    grid-area: 2 / 1 / 3 / 6;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.scroll-down {
  grid-area: 4 / 1 / 5 / 6;
  margin: auto;
  -webkit-animation: scrolling 3s ease infinite;
     -moz-animation: scrolling 3s ease infinite;
     -o-animation: scrolling 3s  ease infinite;
     animation: scrolling 3s ease infinite;
}

.scroll-down>a>img{
  width: 50px;
  height: 50px;
  animation-duration: 5s;
}

@media all and (min-width: 1300px) {
  .scroll-down {
    margin: 0 auto;
  }
}

@media all and (max-width: 1300px) {
  .scroll-down {
    margin: -40px auto 0 auto;
  }
}

@media all and (max-width: 1000px) {
  .scroll-down {
    margin: -100px auto 0 auto;
  }
}

@media all and (max-width: 850px) {
  .scroll-down {
    grid-area: 3 / 1 / 4 / 2;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .scroll-down>a {
    width: 50px;
    height: 50px;
  }
  #intro1>.belowIntro1>.scroll-down>a {
    margin-bottom: 110px;
  }
  #intro2>.belowIntro2>.scroll-down>a {
    margin-bottom: 100px;
  }
  #intro3>.belowIntro1>.scroll-down>a {
    margin-bottom: 90px;
  }
}

@media all and (max-width: 500px) {
  #intro1>.belowIntro1>.scroll-down>a {
    margin-bottom: 20px;
  }
  #intro2>.belowIntro2>.scroll-down>a {
    margin-bottom: 0px;
  }
  #intro3>.belowIntro1>.scroll-down>a {
    margin-bottom: 20px;
  }
}

.last-scroll>a>img {
  transform: rotate(180deg);
}

/*--------------------belowPage--------------------*/

.main>.homePage>section>.belowIntro1 {
  max-width: 1500px;
  min-height: 700px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.main>.homePage>section>.belowIntro1>.words {
  grid-area: 1 / 2 / 2 / 3;
  animation-duration:3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main>.homePage>section>.belowIntro1>.words>h1,
.main>.homePage>section>.belowIntro1>.words>p,
.main>.homePage>section>.belowIntro1>.words>.buttons {
  width: 70%;
}

.main>.homePage>section>.belowIntro1>.words>h1 {
  color: #133E4D;
}

.main>.homePage>section>.belowIntro1>.words>p {
  font-size: 16px;
  color: #2a7f9d;
  line-height: 25px;
  animation-duration:3s;
}

.main>.homePage>section>.belowIntro1>.words>.buttons>a>.toList {
  height: 40px;
  border-radius: 15px;
  width: 150px;
  background-color: #fca81e;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.main>.homePage>section>.belowIntro1>.words>.buttons>a>.toList:hover {
  background-color: #FFFFFF;
  border: 1px solid #fca81e;
  color: #133E4D;
}

.main>.homePage>section>.belowIntro1>.belowIntroImg {
  grid-area: 1 / 1 / 2 / 2;
  animation-duration:3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main>.homePage>section>.belowIntro1>.belowIntroImg>img {
  width: 500px;
  height: 529px;
}

@media all and (min-width: 1200px) {
  .main>.homePage>section>.belowIntro1>.words>h1 {
    font-size: 26px;
  }

  .main>.homePage>section>.belowIntro1>.words>p {
    font-size: 18px;
    margin: 0 auto 20px auto;
  }

  .main>.homePage>section>.belowIntro1>.belowIntroImg>img {
    width: 600px;
    height: 635px;
  }
}

@media all and (max-width: 1000px) {
  .main>.homePage>section>.belowIntro1 {
    height: 500px;
    margin: auto;
  }

  .main>.homePage>section>.belowIntro1>.belowIntroImg>img {
    width: 400px;
    height: 415px;
  }
}

@media all and (max-width: 850px) {
  .main>.homePage>section>.belowIntro1 {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 50px;
    height: 700px;
  }

  .main>.homePage>section>.belowIntro1>.words {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main>.homePage>section>.belowIntro1>.words>h1 {
    margin: 0;
  }

  .main>.homePage>section>.belowIntro1>.belowIntroImg {
    grid-area: 1 / 1 / 2 / 2;
  }

  .main>.homePage>section>.belowIntro1>.words>h1, .main>.homePage>section>.belowIntro1>.words>p, .main>.homePage>section>.belowIntro1>.words>.buttons {
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 500px) {
  .main>.homePage>section>.belowIntro1 {
    grid-template-columns: 100%;
    grid-template-rows: 375px 175px 50px;
  }

  .main>.homePage>section>.belowIntro1>.belowIntroImg>img {
    width: 300px;
    height: 318px;
  }
}

.main>.homePage>section>.belowIntro2 {
  max-width: 1500px;
  min-height: 700px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
}

.main>.homePage>section>.belowIntro2>.words {
  grid-area: 1 / 1 / 2 / 2;
  animation-duration:3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main>.homePage>section>.belowIntro2>.words>h1,
.main>.homePage>section>.belowIntro2>.words>p,
.main>.homePage>section>.belowIntro2>.words>.buttons {
  width: 70%;
}

.main>.homePage>section>.belowIntro2>.words>h1 {
  color: #133E4D;
}

.main>.homePage>section>.belowIntro2>.words>p {
  font-size: 16px;
  color: #2a7f9d;
  line-height: 25px;
  animation-duration:3s;
}

.main>.homePage>section>.belowIntro2>.words>.buttons>a>.toList {
  height: 40px;
  border-radius: 15px;
  width: 150px;
  background-color: #fca81e;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.main>.homePage>section>.belowIntro2>.words>.buttons>a>.toList:hover {
  background-color: #FFFFFF;
  border: 1px solid #fca81e;
  color: #133E4D;
}

.main>.homePage>section>.belowIntro2>.belowIntroImg {
  grid-area: 1 / 2 / 2 / 3;
  animation-duration:3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main>.homePage>section>.belowIntro2>.belowIntroImg>img {
  width: 500px;
  height: 529px;
}

@media all and (min-width: 1200px) {
  .main>.homePage>section>.belowIntro2>.words>h1 {
    font-size: 26px;
  }

  .main>.homePage>section>.belowIntro2>.words>p {
    font-size: 18px;
    margin: 0 auto 20px auto;
  }

  .main>.homePage>section>.belowIntro2>.belowIntroImg>img {
    width: 600px;
    height: 635px;
  }
}

@media all and (max-width: 1000px) {
  .main>.homePage>section>.belowIntro2 {
    height: 500px;
    margin: auto;
  }

  .main>.homePage>section>.belowIntro2>.belowIntroImg>img {
    width: 400px;
    height: 415px;
  }
}

@media all and (max-width: 850px) {
  .main>.homePage>section>.belowIntro2 {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 50px;
    height: 700px;
  }

  .main>.homePage>section>.belowIntro2>.words {
    grid-area: 2 / 1 / 3 / 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main>.homePage>section>.belowIntro2>.words>h1 {
    margin: 0;
  }

  .main>.homePage>section>.belowIntro2>.belowIntroImg {
    grid-area: 1 / 1 / 2 / 2;
  }

  .main>.homePage>section>.belowIntro2>.words>h1, .main>.homePage>section>.belowIntro2>.words>p, .main>.homePage>section>.belowIntro2>.words>.buttons {
    width: 100%;
    text-align: center;
  }
}

@media all and (max-width: 500px) {
  .main>.homePage>section>.belowIntro2 {
    grid-template-columns: 100%;
    grid-template-rows: 375px 175px 50px;
    height: 600px;
  }

  .main>.homePage>section>.belowIntro2>.belowIntroImg>img {
    width: 300px;
    height: 318px;
  }
}

/*--------------------List--------------------*/

.addImg,
.link,
.inviteImg,
.searchImg,
.check {
  width: 30px;
  height: 30px;
}

.trashImg {
  width: 25px;
  height: 25px;
}

.listBox {
  max-width: 500px;
  min-height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px repeat(2, 1fr) 5px;
  grid-auto-rows: 30px 50px auto 50px;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.listBox>.userName {
  grid-area: 1 / 2 / 3 / 4;
  font-size: 20px;
  margin: auto;
}

.listBox>.add {
  grid-area: 1 / 3 / 3 / 4;
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.listBox>.add>a>button{
  border: none;
  background-color: #F26419;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
  width: 70px;
  height: 30px;
  font-size: 14px;
}

.listBox>.add>a>button:hover{
  background-color: #FFFFFF;
  color: #F26419;
  border: 1px solid #F26419;
}

.listBox>.list {
  grid-area: 3 / 2 / 4 / 4;
  border-top: 1px solid #FFE699;
  width: 80%;
  height: 370px;
  overflow: scroll;
  margin: 0 auto;
}

.listBox>.btn {
  grid-area: 4 / 2 / 5 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listBox>.invite,
.listBox>.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listBox>.list>.noListNotice {
    align-items: center;
    margin-top: 10px;
    text-align: center;
    width: 99.5%;
}

.listBox>.list>.item {
  display: grid;
  grid-template-columns: auto 40px;
  grid-auto-rows: 100%;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
}

.listBox>.list>.item>.listItemName {
  grid-area: 1 / 1 / 2 / 2;
  cursor: pointer;
  margin-left: 10px;
}

.listBox>.list>.item>img {
  margin: 10px;
  cursor: pointer;
}

.listBox>.btn>*{
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  width: 40%;
  height: 30px;
  cursor: pointer;
}

.listBox>.btn>.choosenList {
  background-color: #FFFFFF;
}

/*--------------------Activity--------------------*/
.copyDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.copyLink {
  grid-area: 1 / 1 / 2 / 7;
  background-color: #2a7f9d;
  color: #FFFFFF;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  width: 200px;
  height: 30px;
  margin: -10px auto;
  border-radius: 30px;
  z-index: 5;
}

.cover {
  grid-area: 1 / 1 / 3 / 7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.cover>img {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.actNotice{
  max-width: 1000px;
  margin: 10px auto;
  color: #133E4D;
  text-align: left;
}

.activityBox {
  max-width: 1000px;
  min-height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px repeat(4, 1fr) 5px;
  grid-auto-rows: 50px auto 50px;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.activityBox>.userName {
  grid-area: 1 / 2 / 2 / 4;
  font-size: 20px;
  margin: auto;
  border: none;
  text-align: center;
}

.activityBox>.undo-member {
  grid-area: 1 / 4 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityBox>.add{
  grid-area: 1 / 5 / 2 / 6;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.activityBox>.add>button {
  width: 60px;
  height: 20px;
  background-color: #F26419;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  z-index: 6;
}

.activityBox>.add>button:hover{
  background-color: #FFFFFF;
  color: #F26419;
  border: 1px solid #F26419;
}

.activityBox>.act-list {
  grid-area: 2 / 2 / 4 / 4;
  border-top: 1px solid #FFE699;
  width: 80%;
  margin: 0 auto;
}

.activityBox>.act-member {
  display: block;
  grid-area: 2 / 4 / 3 / 6;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  border-top: 1px solid #FFE699;
  overflow: scroll;
}

.activityBox>.paid-btn{
  grid-area: 3 / 4 / 4 / 6 ;
}

.activityBox>.paid-btn>*{
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  width: 40%;
  height: 30px;
}

.activityBox>.paid-btn>.choosenList {
  background-color: #FFFFFF;
}

.activityBox>.ac-btn{
  display: none;
}

.activityBox>.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityBox>.act-list>.item {
  display: grid;
  grid-template-columns: 60px auto;
  grid-auto-rows: 100%;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
  height: 50px;
  cursor: pointer;
}

.activityBox>.act-list>.item>input {
  border: none;
  height: 45px;
  width: 95%;
  font-size: 16px;
}

.activityBox>.act-list>.item>select {
  border: none;
  height: 45px;
  width: 95%;
  font-size: 16px;
  margin-left: 6px;
}

.activityBox>.act-list>.item>.NT>.last-input {
  border: none;
  height: 45px;
  width: 88%;
  font-size: 16px;
}

.activityBox>.condition {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
  margin: 0 auto;
  width: 80%;
}

.activityBox>.condition>button{
  width: 100%;
  height: 30px;
  background-color: #F26419;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.activityBox>.condition>button:hover{
  background-color: #FFFFFF;
  color: #F26419;
  border: 1px solid #F26419;
}

.activityBox>.ac-btn>.choosenList {
  background-color: #FFFFFF;
}

.activityBox>.act-list>.item>.NT:before{
  content:"NT$";
}

.activityBox>.act-list>.item>.NT {
  padding: 0px 2px;
}

.activityBox>.act-list>.item>.item-icon {
  font-size: 12px;
  align-items: center;
  text-align: center;
  margin: 3px auto 0px auto;
}

.activityBox>.act-list>.item>.act-icon-intro {
  margin-left: 10px;
}

.activityBox>.act-list>.item>.act-icon-intro>div {
  height: 47px;
  line-height: 47px;
}

.activityBox>.act-member>.noOneNotice {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  height: 50px;
}

.activityBox>.act-member>.item {
  display: grid;
  grid-template-columns: 45px auto 45px;
  grid-auto-rows: 100%;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
  height: 50px;
}

.activityBox>.act-member>.item>.tooltip>img,
.activityBox>.act-member>.item>.trashImg {
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  height: 25px;
}

/* Tooltip */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  border:1px solid #F26419;
  background-color: #FFFFFF;
  color: #2a7f9d;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 130%;
  font-size: 14px;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 98%; /* 提示工具右侧 */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #F26419;
}

/* show提示框 */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.perValue {
  text-align: right;
  margin-right: 5px;
}

.userImg {
  width: 30px;
  height: 30px;
}

.activity-icon {
  width: 25px;
  height: 25px;
}

.activityBox>.list>.item>* {
  margin: 5px 0;
}

.activityBox>.list>.item>.check {
  margin-left: 5px;
}

.activityBox>.act-member>.item>* {
  margin: 0 10px;
}

.ac-btn>* {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  width: 26%;
  height: 30px;
}

@media all and (max-width: 1000px) {
  .actNotice{
    max-width: 500px;
    margin: 10px auto;
  }

  .activityBox {
    max-width: 500px;
    min-height: 500px;
    grid-template-columns: 5px repeat(2, 1fr) 5px;
    grid-auto-rows: 50px auto 50px;
  }

  .activityBox>.condition {
    grid-area: 1 / 2 / 2 / 3;
    margin: auto;
    width: 100%;
    margin-left: 20%;
  }

  .activityBox>.condition>button{
    width: 80px;
    height: 20px;
    color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
    z-index: 6;
  }

  .activityBox>.add {
    grid-area: 1 / 3 / 2 / 4;
  }

  .activityBox>.userName {
    grid-area: 1 / 2 / 2 / 4;
    font-size: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 2;
  }

  .activityBox>.actMobileUserName {
    background-color: #FFFFFF;
    grid-area: 1 / 2 / 2 / 4;
    font-size: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 40px;
    z-index: 3;
    width: 59%;
    justify-content: center;
  }

  .activityBox>.act-member {
    border-top: 1px solid #FFE699;
    grid-area: 2 / 2 / 3 / 4;
    width: 90%;
  }

  .activityBox>.ac-btn {
    display: block;
    grid-area: 3 / 2 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media all and (max-width: 500px) {
  .activityBox>.act-list {
    width: 90%;
  }

  .activityBox>.act-list>.item>input {
    height: 40px;
    width: 88%;
  }

  .activityBox>.act-list>.item>.act-date-input {
    font-size: 13px;
  }

  .activityBox>.act-list>.item>.NT>.last-input {
    width: 75%;
    height: 40px;
  }

  .activityBox>.add {
    width: 90%;
  }

  .activityBox>.condition {
    margin-left: 10%;
  }
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 15;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #FFE699;
  border-radius: 50px;
  width: 400px;
  max-width: 80%;
  height: 400px;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 25px;
  font-weight: bold;
  background-color: #FFE699;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityBox>.modal>.modal-content>.hostAlert {
  margin: auto;
  max-width: 250px;
  height: 400px;
}

.activityBox>.modal>.modal-content>.hostAlert>.undoBox {
  max-width: 250px;
  margin: 50px auto 0 auto;
}

.activityBox>.modal>.modal-content>.hostAlert>.undoBox>.undoList {
  border-top: 2px double #FFE699;
  padding-top: 10px;
}

.activityBox>.modal>.modal-content>.hostAlert>.oweMoney {
  display: flex;
  align-items: center;
  max-width: 250px;
  height: 400px;
}

.activityBox>.modal>.modal-content>.hostAlert>.oweMoney>div {
  margin: auto;
  text-align: center;
}

.activityBox>.modal>.modal-content>.hostAlert>.undoBox>.undoList>.undoMember {
  display: grid;
  grid-template-columns: 47.5% 5% 47.5%;
  grid-auto-rows: 30px;
  align-items: center;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.addMember {
  margin: 30px auto;
  text-align: left;
  max-width: 300px;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 50px repeat(4, 30px) auto;
  align-items: center;
  justify-items: center;
}

.addMember>div {
  height: 50px;
  width: 280px;
  margin: auto;
  text-align: center;
}

.addMember>div>input {
  border: 1px solid #FFE699;
  height: 30px;
  width: 200px;
}

.addMember>.addMemberBtn {
  width: 256px;
  display: flex;
  justify-content: flex-end;
}

.addMember>.addMemberBtn>button {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  height: 30px;
}

@media all and (max-width: 499px){
  .addMember>div>input {
    width: 150px;
  }

  .addMember>div {
    width: 256px;
  }

  .addMember>.addMemberBtn {
    width: 210px;
  }
}

/*--------------------Login--------------------*/
.account {
  max-width: 600px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30px 370px;
  margin: 20px auto;
  border: 1px solid #FFE699;
  border-radius: 30px;
}

.setAccount,
.signinAccount {
  max-width: 300px;
  min-height: 300px;
  text-align: center;
  margin: 0 auto;
}

.setAccount>div>input,
.signinAccount>div>input {
  border: 1px solid #FFE699;
}

.member-sub {
  grid-area: 1 / 1 / 2 / 2 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 30px;
  border-top-left-radius: 30px;
  cursor: pointer;
}

.member-sign {
  grid-area: 1 / 2 / 2 / 3 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 30px;
  background-color: #FDFEE8;
  border-top-right-radius: 30px;
  cursor: pointer;
}

.setAccount {
  grid-area: 2 / 1 / 3 / 3 ;
}

.submit-btn,
.signin-btn {
  text-align: right;
}

.submit-btn>*,
.signin-btn>* {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  cursor: pointer;
}

.signinAccount {
  grid-area: 2 / 1 / 3 / 3 ;
  /* display: none; */
}

/*--------------------memberInfo--------------------*/
.memberInfo {
  max-width: 500px;
  margin: 20px auto;
  border: 1px solid #FFE699;
  border-radius: 30px;
}

.member-title {
  max-width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  border-bottom: 1px solid #FFE699;
  text-align: center;
}

.info {
  max-width: 300px;
  height: 100px;
  margin: 50px auto 0px;
  text-align: left;
}

.info-btn {
  text-align: right;
}

.logout-btn {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  cursor: pointer;
}

/*--------------------add--------------------*/
.addBox {
  max-width: 500px;
  min-height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px repeat(2, 1fr) 5px;
  grid-auto-rows: 30px 50px auto 50px;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addBox>.addActNameDiv {
  grid-area: 1 / 2 / 3 / 4;
  margin: auto;
  width: 80%;
}

.addBox>.addActNameDiv>input {
  border: 1px solid #FFE699;
  height: 45px;
  width: 80%;
}

.addBox>.list {
  grid-area: 3 / 2 / 4 / 4;
  border-top: 1px solid #FFE699;
  width: 80%;
  margin: 0 auto;
}

.addBox>.add,
.addBox>.invite,
.addBox>.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBox>.list>.item {
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
}

.addBox>.list>.item>div {
  margin: 15px 10px;
}

.addBox>.list>.item>div>label {
  cursor:pointer;
}

.addBox>.list>.item>div>label>* {
  margin: 0 10px;
}

.addActName {
  border: none;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.nextStep {
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  height: 40px;
  grid-area: 4 / 2 / 5 / 4;
  width: 80%;
  margin: 0 auto;
}

.act-list>.item>.activity-icon{
  margin-left: 5px;
}

/*--------------------addOnce--------------------*/
.addOnceBox {
  max-width: 500px;
  height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-auto-rows: 30px 50px 1fr 50px;
  justify-content: center;
  text-align: center;
  margin: 20px auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addOnceBox>.activityName {
  grid-area: 1 / 2 / 3 / 3;
  font-size: 25px;
  margin: auto;
}

.addOnceBox>.act-list {
  grid-area: 3 / 2 / 4 / 3;
  border-top: 1px solid #FFE699;
  width: 80%;
  margin: 0 auto;
}

.addOnceBox>.act-list>.item {
  display: grid;
  grid-template-columns: 60px auto;
  grid-auto-rows: 100%;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
  height: 52px;
}

.addOnceBox>.act-list>.item>.item-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
  align-items: center;
  text-align: center;
  margin: 3px auto 0px auto;
}

.addActInfo {
  border: none;
  width: 98%;
  font-size: 16px;
  text-align: left;
  height: 40px;
}

@media all and (max-width: 500px) {
  .addActInfo {
    width: 88%;
  }

  .addOnceBox>.act-list>.item {
    width: 98%;
  }

  .addOnceBox>.act-list>.item>.date {
    width: 180px;
  }
}

.perValue {
  text-align: right;
  margin-right: 5px;
}

.userImg {
  width: 30px;
  height: 30px;
}

.addOnceBox>.list>.item>* {
  margin: 5px 0;
}

.addOnceBox>.list>.item>.check {
  margin-left: 5px;
}

/*--------------------addPeriod--------------------*/

.addOnceBox>.act-list>.item>select {
  border: none;
  width: 95%;
  height: 50px;
}

/*--------------------addActLogin--------------------*/
.modal-content>.actAccount {
  max-width: 400px;
  max-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px 370px;
  margin: auto;
  border: 1px solid #FFE699;
  border-radius: 50px;
}

.actSetAccount,
.actSigninAccount {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.actSetAccount>div,
.actSigninAccount>div {
  height: 50px;
  width: 280px;
}

.actSetAccount>div>input,
.actSigninAccount>div>input {
  border: 1px solid #FFE699;
  height: 30px;
  width: 200px;
}

.act-member-sub {
  grid-area: 1 / 1 / 2 / 2 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 50px;
  border-top-left-radius: 50px;
  cursor: pointer;
}

.act-member-sign {
  grid-area: 1 / 2 / 2 / 3 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 50px;
  background-color: #FDFEE8;
  border-top-right-radius: 50px;
  cursor: pointer;
}

.actSetAccount {
  grid-area: 2 / 1 / 3 / 3 ;
}

.actSetAccount>.act-submit-btn,
.actSigninAccount>.act-signin-btn {
  text-align: right;
  width: 256px;
  margin: auto;
}

.act-submit-btn>*,
.act-signin-btn>* {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  cursor: pointer;
}

.actSigninAccount {
  grid-area: 2 / 1 / 3 / 3 ;
  /* display: none; */
}

.modal-content>.actAccount>.actSetAccount>.notice {
  font-size: 12px;
  text-align: left;
}

.modal-submit-hide {
  background-color: #FDFEE8;
}

.modal-submit-show {
  background-color: #FFFFFF;
}

@media all and (max-width: 499px){
  .modal-content>.actAccount>.actSetAccount>.notice {
    width: 220px;
    margin: auto;
  }

  .actSetAccount>div,
  .actSigninAccount>div {
    width: 256px;
  }

  .actSetAccount>div>input,
  .actSigninAccount>div>input {
    width: 150px;
  }

  .actSetAccount>.act-submit-btn,
  .actSigninAccount>.act-signin-btn {
    width: 210px;
  }
}
