/* @import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css); */
body{
  margin: 0;
  font-family: "notosanstc", "Noto Sans TC", "微軟正黑體", arial, sans-serif;
}

/*--------------------Nav--------------------*/

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #FDFEE8;
}

.titleList {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  max-width: 120px;
  text-align: center;
  align-items: center;
  padding: 0;
}

.titleList>a {
  width: 60px;
}

.navLoginCondition {
  font-size: 10px;
  width: 100%;
  text-align: center;
}

.main {
  margin: 20px 10px;
}

.login,
.listIcon {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
}

/*--------------------List--------------------*/

.addImg,
.link,
.inviteImg,
.searchImg,
.check {
  width: 30px;
  height: 30px;
}

.trashImg {
  width: 25px;
  height: 25px;
}

.listBox {
  max-width: 500px;
  min-height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px repeat(2, 1fr) 5px;
  grid-auto-rows: 30px 50px auto 50px;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .listBox>.search {
  grid-area: 3 / 3 / 4 / 4;
  width: 70%;
  height: 40px;
  border-bottom: 1px solid #FFE699;
}

.listBox>.search>input {
  border: none;
  height: 35px;
}

@media all and (max-width: 500px) {
  .listBox>.search>input {
    width: 85%;
  }
} */

.listBox>.userName {
  grid-area: 1 / 2 / 3 / 4;
  font-size: 20px;
  margin: auto;
}

.listBox>.add {
  grid-area: 2 / 3 / 3 / 4;
  height: 50px;
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

.listBox>.add>a>button{
  border: none;
  background-color: #F26419;
  border-radius: 15px;
  color: #FFFFFF;
  cursor: pointer;
}

.listBox>.add>a>button:hover{
  background-color: #FFFFFF;
  color: #F26419;
  border: 1px solid #F26419;
}

/* .listBox>.invite {
  grid-area: 3 / 3 / 4 / 4;
  height: 50px;
} */

.listBox>.list {
  grid-area: 3 / 2 / 4 / 4;
  border-top: 1px solid #FFE699;
  width: 80%;
  margin: 0 auto;
}

.listBox>.btn {
  grid-area: 5 / 2 / 6 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listBox>.invite,
.listBox>.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.listBox>.list>.item {
  /* display: grid;
  grid-template-columns: 40px auto 40px;
  grid-auto-rows: 100%; */
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
}

/* .listBox>.list>.item>.check {
  grid-area: 1 / 1 / 2 / 2;
  cursor: pointer;
} */

.listBox>.list>.item>.listItemName {
  grid-area: 1 / 1 / 2 / 3;
  cursor: pointer;
}

/* .listBox>.list>.item>.trashImg {
  grid-area: 1 / 3 / 2 / 4;
  cursor: pointer;
} */

.listBox>.list>.item>* {
  margin: 10px;
}

/* .listBox>.list>.item>.check {
  margin-left: 5px;
} */

.listBox>.btn>*{
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  width: 40%;
  height: 30px;
}

.listBox>.btn>.choosenList {
  background-color: #FFFFFF;
}

/* The Modal (background) */
.list-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.list-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #FFE699;
  border-radius: 50px;
  width: 400px;
  max-width: 80%;
  height: 400px;
  position: relative;
}

/* The Close Button */
.list-modal-close {
  color: #aaa;
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 28px;
  font-weight: bold;
  background-color: #FFE699;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  text-align: center;
}

.list-modalContent {
  /* margin: 20px 30px; */
  /* border: 1px solid #FFE699; */
}

.list-modal-close:hover,
.list-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*--------------------Activity--------------------*/

.cover {
  grid-area: 1 / 1 / 4 / 7;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.cover>img {
  max-width: 500px;
  margin: 0 auto;
}

.activityBox {
  max-width: 1000px;
  min-height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px repeat(4, 1fr) 5px;
  grid-auto-rows: 50px auto 50px;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.activityBox>.condition {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  margin: auto;
  width: 80%;
  cursor: pointer;
}

.activityBox>.condition>.activity-icon{
  margin-right: 5px;
}

/* .activityBox>.search {
  grid-area: 1 / 5 / 2 / 6;
  width: 80%;
  border: 1px solid #FFE699;
}

.activityBox>.search>input {
  border: none;
} */

.activityBox>.userName {
  grid-area: 1 / 2 / 2 / 4;
  font-size: 20px;
  margin: auto;
  border: none;
  text-align: center;
}

.activityBox>.undo-member {
  grid-area: 1 / 4 / 2 / 6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityBox>.add{
  grid-area: 1 / 5 / 2 / 6;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.activityBox>.add>button {
  width: 50px;
  height: 20px;
  background-color: #F26419;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.activityBox>.add>button:hover{
  background-color: #FFFFFF;
  color: #F26419;
  border: 1px solid #F26419;
}

/* .activityBox>.invite {
  grid-area: 3 / 3 / 4 / 4;
  height: 50px;
} */

.activityBox>.act-list {
  grid-area: 2 / 2 / 3 / 4;
  border-top: 1px solid #FFE699;
  width: 80%;
  margin: 0 auto;
}

.activityBox>.act-member {
  display: block;
  grid-area: 2 / 4 / 4 / 6;
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid #FFE699;
}

.activityBox>.ac-btn{
  display: none;
}

/* .activityBox>.ac-btn {
  grid-area: 5 / 2 / 6 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .activityBox>.add, */
.activityBox>.condition,
/* .activityBox>.invite, */
.activityBox>.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.activityBox>.act-list>.item {
  display: grid;
  grid-template-columns: 60px auto;
  grid-auto-rows: 100%;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
  height: 50px;
  cursor: pointer;
}

.activityBox>.act-list>.item>input {
  border: none;
  height: 45px;
  width: 95%;
  font-size: 16px;
}

.activityBox>.act-list>.item>.NT>.last-input {
  border: none;
  height: 45px;
  width: 88%;
  font-size: 16px;
}

.act-list>.condition>button{
  margin-top: 10px;
  width: 100%;
  height: 80px;
  background-color: #F26419;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.activityBox>.ac-btn>.choosenList {
  background-color: #FFFFFF;
}

@media all and (max-width: 500px) {
  .activityBox>.act-list>.item>input {
    height: 40px;
    width: 88%;
  }
  .activityBox>.act-list>.item>.NT>.last-input {
    width: 75%;
    height: 40px;
  }
}

.activityBox>.act-list>.item>.NT:before{
  content:"NT$";
}

.activityBox>.act-list>.item>.item-icon {
  font-size: 12px;
  align-items: center;
  text-align: center;
}

.activityBox>.act-list>.item>.act-icon-intro {
  margin-left: 10px;
}

.activityBox>.act-member>.item {
  display: grid;
  grid-template-columns: auto 45px;
  grid-auto-rows: 100%;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 100%;
  height: 50px;
}

.perValue {
  text-align: right;
  margin-right: 5px;
}

.userImg {
  width: 30px;
  height: 30px;
}

.activity-icon {
  width: 25px;
  height: 25px;
  margin-left: 5px;
}

.activityBox>.list>.item>* {
  margin: 5px 0;
}

.activityBox>.list>.item>.check {
  margin-left: 5px;
}

.activityBox>.act-member>.item>* {
  margin: 0 10px;
}

.ac-btn>* {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  width: 40%;
  height: 30px;
}

@media all and (max-width: 1000px) {
  .activityBox {
    max-width: 500px;
    min-height: 500px;
    grid-template-columns: 5px repeat(2, 1fr) 5px;
    grid-auto-rows: 50px auto 50px;
  }

  /* .activityBox>.condition {
    grid-area: 2 / 2 / 3 / 3;
    width: 70%;
  } */

  /* .activityBox>.search {
    grid-area: 1 / 3 / 2 / 4;
  } */

  .activityBox>.add {
    grid-area: 1 / 3 / 2 / 4;
  }

  .activityBox>.userName {
    grid-area: 1 / 2 / 2 / 4;
    font-size: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    height: 40px;
  }

  .activityBox>.act-list>.item {
    /* display: grid; */
    grid-template-columns: 60px auto;
    /* grid-auto-rows: 100%;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #FFE699;
    text-align: left;
    width: 99.5%;
    height: 50px; */
  }

  .activityBox>.act-member {
    border-top: 1px solid #FFE699;
    grid-area: 2 / 2 / 3 / 4;
  }

  .activityBox>.act-member>.item {
    height: 30px;
  }

  .activityBox>.ac-btn {
    display: block;
    grid-area: 3 / 2 / 4 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* The Modal (background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #FFE699;
  border-radius: 50px;
  width: 400px;
  max-width: 80%;
  height: 400px;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaa;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 28px;
  font-weight: bold;
  background-color: #FFE699;
  height: 30px;
  width: 30px;
  border-radius: 15px;
}

.modalContent {
  /* margin: 20px 30px; */
  /* border: 1px solid #FFE699; */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.addMember {
  margin: auto;
  text-align: left;
  max-width: 300px;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: 50px repeat(4, 30px) auto;
  align-items: center;
  justify-items: center;
}

.addMember>div {
  padding: 5px 0;
}

.addMember>div>input {
  border: 1px solid #FFE699;
  height: 20px;
  max-width: 150px;
}

.addMember>.addMemberBtn {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

.addMember>.addMemberBtn>button {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
}

/*--------------------Login--------------------*/
.account {
  max-width: 600px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 30px 370px;
  margin: auto;
  border: 1px solid #FFE699;
  border-radius: 30px;
}

.setAccount,
.signinAccount {
  max-width: 300px;
  min-height: 300px;
  text-align: center;
  margin: 0 auto;
}

.setAccount>div>input,
.signinAccount>div>input {
  border: 1px solid #FFE699;
}

.member-sub {
  grid-area: 1 / 1 / 2 / 2 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 30px;
  border-top-left-radius: 30px;
}

.member-sign {
  grid-area: 1 / 2 / 2 / 3 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 30px;
  background-color: #FDFEE8;
  border-top-right-radius: 30px;
}

.setAccount {
  grid-area: 2 / 1 / 3 / 3 ;
}

.submit-btn,
.signin-btn {
  text-align: right;
}

.submit-btn>*,
.signin-btn>* {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
}

.signinAccount {
  grid-area: 2 / 1 / 3 / 3 ;
  display: none;
}

/*--------------------memberInfo--------------------*/
.memberInfo {
  max-width: 500px;
  margin: auto;
  border: 1px solid #FFE699;
  border-radius: 30px;
}

.member-title {
  max-width: 500px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  line-height: 50px;
  border-bottom: 1px solid #FFE699;
  text-align: center;
}

.info {
  max-width: 300px;
  height: 100px;
  margin: 50px auto 0px;
  text-align: left;
}

.info-btn {
  text-align: right;
}

.logout-btn {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
}

/*--------------------add--------------------*/
.addBox {
  max-width: 500px;
  min-height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px repeat(2, 1fr) 5px;
  grid-auto-rows: 30px 50px auto 50px;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addBox>.addActNameDiv {
  grid-area: 1 / 2 / 3 / 4;
  margin: auto;
  width: 80%;
}

.addBox>.list {
  grid-area: 3 / 2 / 4 / 4;
  border-top: 1px solid #FFE699;
  width: 80%;
  margin: 0 auto;
}

.addBox>.add,
.addBox>.invite,
.addBox>.search {
  display: flex;
  align-items: center;
  justify-content: center;
}

.addBox>.list>.item {
  /* display: grid;
  grid-template-columns: 40px auto 40px;
  grid-auto-rows: 100%; */
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 99.5%;
}

.addBox>.list>.item>div {
  margin: 15px 10px;
}

.addBox>.list>.item>div>label {
  cursor:pointer;
}

.addBox>.list>.item>div>label>* {
  margin: 0 10px;
}

.addActName {
  border: none;
  width: 100%;
  font-size: 25px;
  text-align: center;
}

.nextStep {
  /* margin: 2px; */
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
  height: 40px;
  grid-area: 4 / 2 / 5 / 4;
  width: 80%;
  margin: 0 auto;
}

/*--------------------addOnce--------------------*/
.addOnceBox {
  max-width: 500px;
  height: 500px;
  border: 1px solid #FFE699;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 5px 1fr 5px;
  grid-auto-rows: 80px 1fr 50px;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.addOnceBox>.activityName {
  grid-area: 1 / 2 / 2 / 3;
  font-size: 25px;
  margin: auto;
}

.addOnceBox>.act-list {
  grid-area: 2 / 2 / 3 / 3;
  border-top: 1px solid #FFE699;
  width: 80%;
  margin: 0 auto;
}

.addOnceBox>.act-list>.item {
  display: grid;
  grid-template-columns: 40px auto;
  grid-auto-rows: 100%;
  align-items: center;
  margin-top: 10px;
  border: 1px solid #FFE699;
  text-align: left;
  width: 100%;
  height: 52px;
}

.addActInfo {
  border: none;
  width: 99%;
  font-size: 16px;
  text-align: left;
  height: 50px;
}

.perValue {
  text-align: right;
  margin-right: 5px;
}

.userImg {
  width: 30px;
  height: 30px;
}

.addOnceBox>.list>.item>* {
  margin: 5px 0;
}

.addOnceBox>.list>.item>.check {
  margin-left: 5px;
}

/* @media all and (max-width: 1000px) {
  .addOnceBox {
    max-width: 500px;
    min-height: 500px;
    grid-template-columns: 5px repeat(2, 1fr) 5px;
    grid-auto-rows: 30px 50px 50px auto 50px;
  }

  .addOnceBox>.userName {
    grid-area: 2 / 2 / 3 / 4;
    font-size: 20px;
    margin: auto;
  }

  .addOnceBox>.act-list>.item {
    grid-template-columns: 40px auto;
  }
} */

/*--------------------addPeriod--------------------*/

.addOnceBox>.act-list>.item>select {
  border: none;
  width: 95%;
  height: 50px;
}

/*--------------------addActLogin--------------------*/
.modal-content>.actAccount {
  max-width: 400px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px 370px;
  margin: auto;
  border: 1px solid #FFE699;
  border-radius: 50px;
}

.actSetAccount,
.actSigninAccount {
  max-width: 200px;
  min-height: 150px;
  text-align: center;
  margin: 0 auto;
}

.actSetAccount>div>input,
.actSigninAccount>div>input {
  border: 1px solid #FFE699;
}

.act-member-sub {
  grid-area: 1 / 1 / 2 / 2 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 50px;
  border-top-left-radius: 50px;
}

.act-member-sign {
  grid-area: 1 / 2 / 2 / 3 ;
  background-color: white;
  border: none;
  margin: auto;
  width: 100%;
  height: 50px;
  background-color: #FDFEE8;
  border-top-right-radius: 50px;
}

.actSetAccount {
  grid-area: 2 / 1 / 3 / 3 ;
}

.act-submit-btn,
.act-signin-btn {
  text-align: right;
}

.act-submit-btn>*,
.act-signin-btn>* {
  margin: 2px;
  background-color: #FDFEE8;
  border: 1px solid #FFE699;
}

.actSigninAccount {
  grid-area: 2 / 1 / 3 / 3 ;
  display: none;
}

.modal-content>.actAccount>.actSetAccount>.notice {
  font-size: 12px;
  text-align: left;
  margin-top: 10px;
}
